.black {
	height: 700px;
	width: 700px;
	background-color: black;
	position: relative;

}
.green {
	height: 100px;
	width: 100px;
	background-color: green;
	position: absolute;
	margin-top: 100px;
	margin-left: 100px;
	transition: all 0.5s;

}
.red {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	margin-top: 150px;
	margin-left: 150px;
	transition: all 0.5s;

}
.blue {
	height: 100px;
	width: 100px;
	background-color: blue;
	position: absolute;
	margin-top: 200px;
	margin-left: 200px;
}
.orange {
	height: 100px;
	width: 100px;
	background-color: orange;
	position: absolute;
	margin-top: 450px;
	margin-left: 450px;
	transition: all 0.5s;

}
.pink {
	height: 100px;
	width: 100px;
	background-color: pink;
	position: absolute;
	margin-top: 400px;
	margin-left: 400px;
	transition: all 0.5s;

}
.white {
	height: 100px;
	width: 100px;
	background-color: white;
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	transition: all 0.5s;

}

.black:hover .red{
	margin-top: 200px;
	margin-left: 200px;
	transition: all 0.5s;

}
.black:hover .green{
	margin-top: 200px;
	margin-left: 200px;
	transition: all 0.5s;
} 
.black:hover .orange {
	margin-top: 350px;
	margin-left: 350px;
	transition: all 0.5s;
}
.black:hover .pink {
	margin-top: 350px;
	margin-left: 350px;
	transition: all 0.5s;
}